<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <h1>Editar la nota...</h1>
        <section class="notaForm">
            <form action="?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" name="titulo" id="titulo" value="<%= nota.titulo %>">
                </div>
                <div class= "form-group">
                    <label for="texto">Texto</label>
                    <input type="text" name="texto" id="texto" value="<%= nota.texto %>">

                </div>
                <button type="submit">Actualizar</button>
            </form>
        </section>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>